NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
MP_ACCESS_TOKEN=
MP_WEBHOOK_SECRET=
RESEND_API_KEY=
CRON_SECRET=
NEXT_PUBLIC_BASE_URL=http://localhost:3000
ADMIN_EMAIL=
QUINIELA_NACIONAL_URL=
QUINIELA_PROVINCIAL_URL=
